This file was used within the NILMTK conda envrionment and won't run here. The associated reactive power files are found in '...path...\nilm_analyzer_EM401\Large Data\Reactive Power Mains Data\'.

In [1]:
from nilmtk import DataSet
from nilmtk.utils import print_dict
from __future__ import print_function, division
import time
import calendar 
import datetime

from matplotlib import rcParams
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from six import iteritems

import nilmtk
from nilmtk import DataSet, TimeFrame, MeterGroup, HDFDataStore
from nilmtk.legacy.disaggregate import CombinatorialOptimisation, FHMM
import nilmtk.utils

%matplotlib inline

In [2]:
ukdale = DataSet('/mnt/c/Users/44749/NILM/nilm_toolkit/nilmtk/nilmtk_tests/ukdale.h5')

In [3]:
h1_elec = ukdale.buildings[1].elec
h2_elec = ukdale.buildings[2].elec
h5_elec = ukdale.buildings[5].elec

In [4]:
h1_mains = h1_elec.mains()
h2_mains = h2_elec.mains()
h5_mains = h5_elec.mains()

In [5]:
h1_mains_df = next(h1_mains.load())
h2_mains_df = next(h2_mains.load())
h5_mains_df = next(h5_mains.load())

In [6]:
h1_mains_df = h1_mains_df.drop(columns=['voltage'])
h2_mains_df = h2_mains_df.drop(columns=['voltage'])
h5_mains_df = h5_mains_df.drop(columns=['voltage'])

/root/anaconda3/envs/nilmtk-env/lib/python3.8/site-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [7]:
h1_apparent = h1_mains_df["power","apparent"]
h1_active = h1_mains_df["power", "active"]

h2_apparent = h2_mains_df["power","apparent"]
h2_active = h2_mains_df["power", "active"]

h5_apparent = h5_mains_df["power","apparent"]
h5_active = h5_mains_df["power", "active"]

In [8]:
h1_reactive = np.sqrt(np.square(h1_apparent) - np.square(h1_active))
h2_reactive = np.sqrt(np.square(h2_apparent) - np.square(h2_active))
h5_reactive = np.sqrt(np.square(h5_apparent) - np.square(h5_active))

In [9]:
h1_mains_df['power','reactive'] = h1_reactive
h2_mains_df['power','reactive'] = h2_reactive
h5_mains_df['power','reactive'] = h5_reactive

In [10]:
h1_mains_df.head()

physical_quantity                      power
type                                apparent      active    reactive
2013-03-17 19:12:43.100000+00:00  431.040009  337.880005  267.642639
2013-03-17 19:12:44.100000+00:00  427.940002  339.429993  260.614502
2013-03-17 19:12:45.100000+00:00  429.660004  340.630005  261.875763
2013-03-17 19:12:46.100000+00:00  426.989990  338.799988  259.875000
2013-03-17 19:12:47.100000+00:00  429.130005  340.880005  260.678711

In [11]:
h2_mains_df.head()

physical_quantity                      power
type                                apparent active    reactive
2013-04-16 21:45:16.300000+01:00  421.529999    0.0  421.529999
2013-04-16 21:45:17.300000+01:00  421.769989    0.0  421.769989
2013-04-16 21:45:18.300000+01:00  420.410004    0.0  420.410004
2013-04-16 21:45:19.300000+01:00  421.670013    0.0  421.670013
2013-04-16 21:45:20.300000+01:00  420.970001    0.0  420.970001

In [12]:
h5_mains_df.head()

physical_quantity                      power
type                                apparent      active    reactive
2014-06-29 17:23:43.200000+01:00  805.690002  702.570007  394.375153
2014-06-29 17:23:44.300000+01:00  803.020020  697.150024  398.526001
2014-06-29 17:23:45.300000+01:00  797.650024  689.039978  401.832642
2014-06-29 17:23:46.300000+01:00  801.119995  693.409973  401.217957
2014-06-29 17:23:47.300000+01:00  803.489990  701.049988  392.587677

In [13]:
#h1_mains_df.to_csv('h1_mains.csv', index= True)

In [14]:
#h2_mains_df.to_csv('h2_mains.csv', index= True)

In [15]:
#h5_mains_df.to_csv('h5_mains.csv', index= True)