In [30]:
import time
import calendar 
import datetime
from matplotlib import rcParams
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [31]:
#Read unformatted UKDALE mains data CSV into a pandas Dataframe.
df = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Reactive Power Mains Data\h5_mains.csv', index_col=0, header=[0,1])
df.head()

physical_quantity                   power
type                             apparent  active   reactive
2014-06-29 17:23:43.200000+01:00   805.69  702.57  394.37515
2014-06-29 17:23:44.300000+01:00   803.02  697.15  398.52600
2014-06-29 17:23:45.300000+01:00   797.65  689.04  401.83264
2014-06-29 17:23:46.300000+01:00   801.12  693.41  401.21796
2014-06-29 17:23:47.300000+01:00   803.49  701.05  392.58768

In [32]:
#Push the datetime64 index into a seperate column to perform conversion caluclation.
df = df.reset_index(inplace=False)
df.head()

physical_quantity                             index    power          \
type                                                apparent  active
0                  2014-06-29 17:23:43.200000+01:00   805.69  702.57
1                  2014-06-29 17:23:44.300000+01:00   803.02  697.15
2                  2014-06-29 17:23:45.300000+01:00   797.65  689.04
3                  2014-06-29 17:23:46.300000+01:00   801.12  693.41
4                  2014-06-29 17:23:47.300000+01:00   803.49  701.05

physical_quantity
type                reactive
0                  394.37515
1                  398.52600
2                  401.83264
3                  401.21796
4                  392.58768

In [33]:
#Function that converts the datetime64 format from NILMTK to it's corresponding UNIX timestamp.
def to_timestamp(index):
    dt64 = np.datetime64('{}'.format(index))
    ts = (dt64 - np.datetime64('1970-01-01T00:00:00Z')) / np.timedelta64(1, 's')
    return ts

In [34]:
#Applies to-timestamp function to the datetime64 column.
df['index'] = df['index'].apply(to_timestamp)
df.head()

C:\Users\44749\AppData\Local\Temp\ipykernel_16576\2218972634.py:2: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  dt64 = np.datetime64('{}'.format(index))
C:\Users\44749\AppData\Local\Temp\ipykernel_16576\2218972634.py:3: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  ts = (dt64 - np.datetime64('1970-01-01T00:00:00Z')) / np.timedelta64(1, 's')

physical_quantity         index    power
type                            apparent  active   reactive
0                  1.404059e+09   805.69  702.57  394.37515
1                  1.404059e+09   803.02  697.15  398.52600
2                  1.404059e+09   797.65  689.04  401.83264
3                  1.404059e+09   801.12  693.41  401.21796
4                  1.404059e+09   803.49  701.05  392.58768

In [35]:
#Restablishes the the now UNIX column as the dataframes index.
df = df.set_index('index')
df.head()

physical_quantity    power
type              apparent  active   reactive
index
1.404059e+09        805.69  702.57  394.37515
1.404059e+09        803.02  697.15  398.52600
1.404059e+09        797.65  689.04  401.83264
1.404059e+09        801.12  693.41  401.21796
1.404059e+09        803.49  701.05  392.58768

In [36]:
#Output to a CSV.
df.to_csv(r'...path...\nilm_analyzer_EM401\Large Data\Reactive Power Mains Data\h5_mains_formatted.csv')