In [1]:
import pandas as pd

In [81]:
#Read formatted UKDALE data CSV to pandas Dataframe.
#Washing machine data loading
UK_WMh1 = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\UK_h1_WM_formatted.csv', index_col=1)
R_WMh7 = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\R_h7_WM_formatted.csv', index_col=1)
R_WMh1 = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\R_h1_WM_formatted.csv', index_col=1)
R_WMh5 = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\R_h5_WM_formatted.csv', index_col=1)
#Dishwasher data loading
UK_DWh1 = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\UK_h1_DW_formatted.csv', index_col=1)
UK_DWh5 = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\UK_h5_DW_formatted.csv', index_col=1)
R_DWh1 = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\R_h1_DW_formatted.csv', index_col=1)
R_DWh5 = pd.read_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\R_h5_DW_formatted.csv', index_col=1)

In [82]:
R_WMh7.head()

              Unnamed: 0  aggregate  washing machine
time
1.404169e+09           0      191.0              0.0
1.404169e+09           1      190.0              0.0
1.404169e+09           2      190.0              0.0
1.404169e+09           3      189.0              0.0
1.404169e+09           4      188.0              0.0

In [83]:
UK_WMh1.drop(columns = 'Unnamed: 0', inplace = True)
R_WMh7.drop(columns = 'Unnamed: 0', inplace = True)
R_WMh1.drop(columns = 'Unnamed: 0', inplace = True)
R_WMh5.drop(columns = 'Unnamed: 0', inplace = True)

UK_DWh1.drop(columns = 'Unnamed: 0', inplace = True)
UK_DWh5.drop(columns = 'Unnamed: 0', inplace = True)
R_DWh1.drop(columns = 'Unnamed: 0', inplace = True)
R_DWh5.drop(columns = 'Unnamed: 0', inplace = True)

In [84]:
R_WMh1.rename(columns = {'washing machine':'washing_machine'}, inplace= True)
R_WMh5.rename(columns = {'washing machine':'washing_machine'}, inplace= True)
R_WMh7.rename(columns = {'washing machine':'washing_machine'}, inplace= True)

In [85]:
R_WMh1.head()

              aggregate  washing_machine
time
1.404169e+09      245.0              0.0
1.404169e+09      242.0              0.0
1.404169e+09      242.0              0.0
1.404169e+09      245.0              0.0
1.404169e+09      245.0              0.0

In [86]:
#Establishes frames to concatenate.
framesWM = [UK_WMh1, R_WMh1, R_WMh5, R_WMh7]
framesDW = [UK_DWh1, UK_DWh5, R_DWh1, R_DWh5]

In [87]:
#Concatenates the frames with keys correseponding to the house data sets taken from.
WM_concat = pd.concat(framesWM)
DW_concat = pd.concat(framesDW)

In [88]:
DW_concat.shape

(1785600, 2)

In [89]:
WM_concat.shape

(1785600, 2)

In [90]:
#Converts Dataframe to CSV.
WM_concat.to_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\UK1_R1-5-7_WM_july_2014.csv')
DW_concat.to_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\UK1-5_R1-5-7_DW_july_2014.csv')

In [91]:
temp = pd.DataFrame(WM_concat['washing_machine'])

In [92]:
framesagg = [DW_concat,temp]

In [95]:
agg = pd.concat([DW_concat, temp], axis = 1)

In [96]:
agg.head()

              aggregate  dishwasher  washing_machine
time
1.404169e+09      213.0         0.0              0.0
1.404169e+09      216.0         0.0              0.0
1.404169e+09      216.0         0.0              0.0
1.404169e+09      214.0         0.0              0.0
1.404169e+09      217.0         1.0              0.0

In [97]:
agg = agg.reindex(columns=['dishwasher', 'washing_machine', 'aggregate'])

In [99]:
agg.head()

              dishwasher  washing_machine  aggregate
time
1.404169e+09         0.0              0.0      213.0
1.404169e+09         0.0              0.0      216.0
1.404169e+09         0.0              0.0      216.0
1.404169e+09         0.0              0.0      214.0
1.404169e+09         1.0              0.0      217.0

In [100]:
agg.to_csv(r'...path...\nilm_analyzer_EM401\Large Data\Load Profile Data\UK_R_agg_july_2014.csv')