In [1]:
import pandas as pd  
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Dishwasher Activations\h5_DW_formatted.csv', index_col = 0)

In [3]:
df.head()

,activity_start,activity_end,duration_in_minutes,day_of_week,month
59,2014-06-30 19:24:00,2014-06-30 21:27:00,122.9,Monday,June
53,2014-07-03 09:04:00,2014-07-03 11:03:00,119.3,Thursday,July
26,2014-07-06 12:47:00,2014-07-06 14:10:00,83.0,Sunday,July
55,2014-07-08 18:21:00,2014-07-08 20:21:00,119.9,Tuesday,July
52,2014-07-11 14:22:00,2014-07-11 16:20:00,117.8,Friday,July

In [4]:
def take_time(time):
    t = dt.datetime.strptime(time, '%Y-%m-%d %H:%M:%S')
    x = t.strftime('%H:%M:%S')
    return x

In [5]:
times = pd.DataFrame()
times['start'] = df['activity_start'].apply(take_time)
times['end'] = df['activity_end'].apply(take_time)

In [6]:
times.head()

       start       end
59  19:24:00  21:27:00
53  09:04:00  11:03:00
26  12:47:00  14:10:00
55  18:21:00  20:21:00
52  14:22:00  16:20:00

In [7]:
index = pd.DataFrame(pd.date_range('2015-7-24', periods=1440, freq='min')).astype(str)
index = index[0].apply(take_time)
index.head()

0    00:00:00
1    00:01:00
2    00:02:00
3    00:03:00
4    00:04:00
Name: 0, dtype: object

In [8]:
blank = pd.DataFrame(0, index=index, columns = [None])

In [9]:
blank.head()

          None
0
00:00:00     0
00:01:00     0
00:02:00     0
00:03:00     0
00:04:00     0