In [126]:
import pandas as pd 
import numpy as np
import datetime as dt

In [127]:
df = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Load Profile Data\R_h5_DW.csv', index_col = 0)

In [128]:
df.head()

                     aggregate  dishwasher
time
2013-09-26 09:56:06      275.0         0.0
2013-09-26 09:56:12      275.0         0.0
2013-09-26 09:56:18      273.0         0.0
2013-09-26 09:56:24      273.0         0.0
2013-09-26 09:56:30      273.0         0.0

In [129]:
def to_timestamp(time):
    DT = dt.datetime.strptime(time, '%Y-%m-%d %H:%M:%S')
    t = DT.timestamp()
    return t

In [130]:
def from_timestamp(time):
    t = dt.datetime.fromtimestamp(time)
    return t

In [131]:
july2014 = df.loc['2014-07-01 00:00:00':'2014-07-31 23:59:54']

In [132]:
july2014.head()

                     aggregate  dishwasher
time
2014-07-01 00:00:00      399.0         5.0
2014-07-01 00:00:06      399.5         4.5
2014-07-01 00:00:12      400.0         4.0
2014-07-01 00:00:18      399.0         5.0
2014-07-01 00:00:24      399.0         5.0

In [133]:
july2014.reset_index(inplace = True)

In [134]:
july2014['time'] = july2014['time'].apply(to_timestamp)

C:\Users\44749\AppData\Local\Temp\ipykernel_29616\1893790372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  july2014['time'] = july2014['time'].apply(to_timestamp)

In [135]:
july2014.head()

           time  aggregate  dishwasher
0  1.404169e+09      399.0         5.0
1  1.404169e+09      399.5         4.5
2  1.404169e+09      400.0         4.0
3  1.404169e+09      399.0         5.0
4  1.404169e+09      399.0         5.0

In [136]:
july2014.to_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Load Profile Data\R_h5_DW_formatted.csv')