In [12]:
import pandas as pd 
import numpy as np
import datetime as dt

In [13]:
df = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Load Profile Data\R_h7_WM.csv', index_col = 0)

In [14]:
df.head()

                     aggregate  washing machine
time
2013-11-01 22:01:18      211.0              0.0
2013-11-01 22:01:24      211.0              0.0
2013-11-01 22:01:30      212.0              0.0
2013-11-01 22:01:36      212.0              0.0
2013-11-01 22:01:42      212.0              0.0

In [15]:
def to_timestamp(time):
    DT = dt.datetime.strptime(time, '%Y-%m-%d %H:%M:%S')
    t = DT.timestamp()
    return t

In [16]:
def from_timestamp(time):
    t = dt.datetime.fromtimestamp(time)
    return t

In [17]:
july2014 = df.loc['2014-07-01 00:00:00':'2014-07-31 23:59:54']

In [18]:
july2014.head()

                     aggregate  washing machine
time
2014-07-01 00:00:00      191.0              0.0
2014-07-01 00:00:06      190.0              0.0
2014-07-01 00:00:12      190.0              0.0
2014-07-01 00:00:18      189.0              0.0
2014-07-01 00:00:24      188.0              0.0

In [19]:
july2014.reset_index(inplace = True)

In [20]:
july2014['time'] = july2014['time'].apply(to_timestamp)

C:\Users\44749\AppData\Local\Temp\ipykernel_19624\1893790372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  july2014['time'] = july2014['time'].apply(to_timestamp)

In [21]:
july2014.head()

           time  aggregate  washing machine
0  1.404169e+09      191.0              0.0
1  1.404169e+09      190.0              0.0
2  1.404169e+09      190.0              0.0
3  1.404169e+09      189.0              0.0
4  1.404169e+09      188.0              0.0

In [22]:
july2014.to_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Load Profile Data\R_h7_WM_formatted.csv')