In [1]:
import pandas as pd

In [2]:
#Read formatted UKDALE mains CSV to pandas Dataframe.
df_h1 = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\UKDALE Mains Data\h1_2014_july.csv', index_col=0, header=[0,1])
df_h1.head()

physical_quantity    power
type              apparent  active    reactive
index
1.404169e+09        155.14  104.32  114.829254
1.404169e+09        157.34  105.67  116.574980
1.404169e+09        155.81  104.63  115.452675
1.404169e+09        156.35  105.06  115.791710
1.404169e+09        155.32  104.39  115.008840

In [3]:
#df_h2 = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\UKDALE Mains Data\h2_mains_formatted.csv', index_col=0, header=[0,1])
#df_h2.head()

physical_quantity    power
type              apparent active reactive
index
1.366145e+09        421.53    0.0   421.53
1.366145e+09        421.77    0.0   421.77
1.366145e+09        420.41    0.0   420.41
1.366145e+09        421.67    0.0   421.67
1.366145e+09        420.97    0.0   420.97

In [3]:
df_h5 = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\UKDALE Mains Data\h5_2014_july.csv', index_col=0, header=[0,1])
df_h5.head()

physical_quantity    power
type              apparent  active   reactive
index
1.404169e+09        803.12  689.03  412.60074
1.404169e+09        813.15  697.99  417.16052
1.404169e+09        812.35  697.59  416.26993
1.404169e+09        802.82  688.11  413.55120
1.404169e+09        797.66  683.21  411.68616

In [4]:
#Establishes frames to concatenate.
frames = [df_h1, df_h5]

In [5]:
#Concatenates the frames with keys correseponding to the house data sets taken from.
df_concat = pd.concat(frames)

In [6]:
df_concat.head()

physical_quantity    power
type              apparent  active    reactive
index
1.404169e+09        155.14  104.32  114.829254
1.404169e+09        157.34  105.67  116.574980
1.404169e+09        155.81  104.63  115.452675
1.404169e+09        156.35  105.06  115.791710
1.404169e+09        155.32  104.39  115.008840

In [7]:
#Converts Dataframe to CSV.
df_concat.to_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\UKDALE Mains Data\h1-5_2014_july.csv')