In [1]:
import pandas as pd
import numpy as np
import time
import calendar 
import datetime

In [2]:
#Read the formatted UKDALE house mains CSV into a pandas Dataframe.
df = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\UKDALE Mains Data\h5_mains_formatted.csv', index_col=0, header=[0,1])

In [3]:
df.head()

physical_quantity    power
type              apparent  active   reactive
index
1.404059e+09        805.69  702.57  394.37515
1.404059e+09        803.02  697.15  398.52600
1.404059e+09        797.65  689.04  401.83264
1.404059e+09        801.12  693.41  401.21796
1.404059e+09        803.49  701.05  392.58768

In [4]:
#Subset the date by manually finding the corresponding UNIX timestamps of the required dates.
h5_2014_july = df.loc[1404169200.6:1406847599.1]

In [5]:
h5_2014_july.head()

physical_quantity    power
type              apparent  active   reactive
index
1.404169e+09        803.12  689.03  412.60074
1.404169e+09        813.15  697.99  417.16052
1.404169e+09        812.35  697.59  416.26993
1.404169e+09        802.82  688.11  413.55120
1.404169e+09        797.66  683.21  411.68616

In [6]:
#Convert the datadrame to a useable CSV file.
h5_2014_july.to_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\UKDALE Mains Data\h5_2024_july.csv')